body{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: #878787;
    font-size: 24px;
    line-height: 29px;
    font-weight: 100;
    margin-bottom: 0;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  margin: 0;
  color: rgb(135,135,135);
  padding: 0;
  font-size: 16px;
  line-height: 19px;
}
li::first-letter{
  text-transform: capitalize;
}
  .weather-app{
    max-width: 600px;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #dadde1;;
  }
  .overview{
    margin-bottom: 20px;
  }
  .weather-app-wrapper{
    max-width: 600px;
    margin: 30px auto;
  }
  .weather-temperature img{
    margin-right: 6px;
    height: 64px;
    width: 64px;
  }
  .weather-temperature strong{
    color: rgb(33,33,33);
    font-weight: 400;
    line-height: 1;
    font-size: 64px;
  }
  .weather-temperature .units{
    position: relative;
    top: -34px;
    font-size: 16px;
  }
  .weather-temperature .active{
    color: rgb(33,33,33);
    text-decoration: none;
    cursor: default;
  }
  .weather-temperature .active:hover{
    text-decoration: none;
  }
